html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  padding-top: 100px;
  background-image: linear-gradient(to right, #f7f8f3 0%, #fc4a1a 100%);
  animation: gradient-animation 10s ease-in-out infinite alternate;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.button {
  display: flex;
  justify-content: center;
}

.new-book-btn {
  background-color: rgb(88, 88, 248);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.new-book-btn:hover {
  cursor: pointer;
  
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

dialog {
  border-radius: 10px;
  border: 2px solid black;
}

form {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.submit-div {
  display: flex;
  justify-content: center;
}

#submitButton {
  padding: 5px 20px;
  background-color: rgb(33, 239, 33);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

#submitButton:hover, #close-button:hover {
  cursor: pointer;
}

.close-div {
  display: flex;
  justify-content: center;
}

#close-button {
  padding: 5px 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

input {
  padding: 3px 0;
}

#library-display{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}

.library-flex{
 display: flex;
 justify-content: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  color: white;
  border: none;
  border-radius: 3px;
  background-color: rgb(242, 39, 39);
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-left: 10px;
}

.remove-btn:hover, .read-btn:hover {
  cursor: pointer;
}

.read-btn {
  color: white;
  border: none;
  border-radius: 3px;
  background-color: blueviolet;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-left: 10px;
}